@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}
.btn {
  background-color: #fff;
  color: rebeccapurple;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn.active {
  transform: scale(0.98);
}
#toasts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.toast {
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.5rem;
}
.toast.info {
  color: rebeccapurple;
}
.toast.success {
  color: rgb(69, 212, 13);
}
.toast.error {
  color: red;
}
.animate-pull-left {
  animation-name: pullLeft;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-direction: alternate;
}
@keyframes pullLeft {
  0% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(0);
  }
}
